name: Proxmox Container Management (Auto Runners)

on:
  push:
  create:
  delete:

jobs:
  setup-runner:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: |
          sudo apt install -y sshpass jq
      - uses: maxklema/proxmox-launchpad@main
        with:
          proxmox_password: ${{ secrets.PROXMOX_PASSWORD }}
          proxmox_username: ayushdh
          github_pat: ${{ secrets.GH_PAT }}

  manage-container:
    runs-on: self-hosted
    needs: setup-runner
    steps:
      - uses: maxklema/proxmox-launchpad@main
        with:
          proxmox_password: ${{ secrets.PROXMOX_PASSWORD }}
          proxmox_username: ayushdh
          github_pat: ${{ secrets.GH_PAT }}
          runtime_language: '{"/whisper-diarization": "python",
          "/diarization-ui": "nodejs"
          }'
          root_start_command: 'docker-compose -f docker-compose.deploy.yml up'
          multi_component: 'y'
          services: '["docker"]'